on:
    pull_request:
        branches:
            - master
   
jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '3.1.x'

      - name: Add msbuild to PATH
        uses: microsoft/setup-msbuild@v1.1

      - name: Build
        shell: pwsh
        run: |
          dotnet restore
          MSBuild.exe AssetEditor.sln

    




              