on:
    pull_request:
        branches:
            - master
jobs:
    build:        
        name: run on windows
        runs-on: windows-latest
        steps:
        - uses: actions/checkout@v2
        - uses: ilammy/msvc-dev-cmd@v1.4.1
        - name: Compile Visual Studio project with MSBuild
          shell: cmd 
          run: ${{ '"C:\Program Files\Microsoft Visual Studio\2022\Enterprise\Common7\Tools\VsDevCmd.bat" && msbuild' }}
          working-directory: FBXWRapperDll      
          